@inherits LayoutComponentBase

<PageTitle>ClientzManagementSystem</PageTitle>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="d-flex flex-column h-100">
     <NavMenu></NavMenu>
    <main class="flex-grow-1">
        @Body
    </main>
</div>