@inherits LayoutComponentBase

@inject NavigationManager nav

<PageTitle>ClientManagementSystem</PageTitle>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <div class="sidebar hideWhenPrint">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 hideWhenPrint">
            
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
