<nav class="navbar navbar-expand-lg navbar-dark navStyle">
    <div class="container-xxl">
        <a href="/" class="me-3">
            <img src="/images/LOGO.png" height="55" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCms" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCms">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li>
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <i class="oi oi-home"></i>
                        Home
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="counter" Match="NavLinkMatch.All">
                        <i class="oi oi-book"></i>
                        Clients
                    </NavLink>
                </li>
                
            </ul>
        </div>
    </div>
</nav>
